{
  "extends": ["react-app", "airbnb", "plugin:jsx-a11y/recommended"],
  "plugins": ["jsx-a11y"],
  "rules": {
    "comma-dangle": ["error", "never"],
    "linebreak-style": 0,
    "object-curly-newline": 0,
    "arrow-parens": 0,
    "operator-linebreak": 0,
    "indent": 0,
    "no-confusing-arrow": 0,
    "max-len": ["error", { "code": 150 }],
    "import/no-extraneous-dependencies": 0,
    "quote-props": 0,
    "no-shadow": 0,
    "curly": [2, "all"],
    "no-underscore-dangle": 0,
    "camelcase": [2, { "properties": "always" }],
    "arrow-body-style": ["error", "as-needed"],
    "implicit-arrow-linebreak": 0,
    "generator-star-spacing": 0,
    "prefer-promise-reject-errors": 0,
    "function-paren-newline": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "jsx-a11y/label-has-associated-control": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "jsx-a11y/no-onchange": 0,
    "react/jsx-curly-newline": 0,
    "react/jsx-indent": 0,
    "react/jsx-props-no-spreading": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js"] }],
    "react/button-has-type": 0,
    "react/jsx-closing-tag-location": 0,
    "react/jsx-one-expression-per-line": 0,
    "react/no-danger": 0,
    "react/no-unescaped-entities": 0,
    "react-hooks/exhaustive-deps": 0
  }
}
